* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.accordion {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    background-color: #1765b5;

    #checkbox1 {
        margin: 20px 5px 20px 20px;
    }

    label {
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }

    &-item {
        border: 2px solid #fff;
        border-bottom: none;

        .accordion-title {
            display: flex;
            justify-content: space-between;
            padding: 20px 40px;
            font-size: 20px;
            width: 100%;
            background-color: #1765b5;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 400;
            font-family: serif;

            &.open {
                i {
                    transform: rotate(180deg);
                }
            }
        }

        .accordion-content {
            padding: 0 1rem;
            max-height: 0;
            overflow: hidden;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;


            &.open {
                border-top: 1px solid #fff;
                max-height: 10rem;
                padding: 20px 40px;
                @media screen and (max-width: 720px) {
                    max-height: 20rem;
                }
            }
        }
    }
}